.books-cont {
    display: flex;

    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}


article{
    width: 30%;
    padding: 10px;
    border: 1px solid brown;
    background-color: beige;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

span, a {
    display: block;
    margin: 30px 0px
}

a {
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    color: red;
    text-decoration: underline;
}

.container {
    display: block;
    width: 80%;
    border: 1px solid black;
    background-color: aquamarine;
    padding: 10px 5px;

}

.close {
    position: absolute;
    top: 10px;
    right: 70px;
    cursor: pointer;
    font-size: 30px;
    font-weight: bold;
    color: blue;
}
